<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
	<title>{{ shop.name }}</title>

	{%- render 'css-variables' -%}

	{% comment %} CSS {% endcomment %}
	{{- 'theme.css' | asset_url | stylesheet_tag -}}

	<script type="text/javascript">
		window.theme = {
			info: {
				name: 'Palo Alto'
			},
			version: '2.8.7'
		};
		window.routes = {
			search_url: {{ routes.search_url | json }},
			cart_change_url: {{ routes.cart_change_url | json }},
			shop_url: {{ shop.url | json }},
			root_url: {{ routes.root_url | json }},
			cart_url: {{ routes.cart_url | json }},
			cart_add_url: {{ routes.cart_add_url | json }},
			product_recommendations_url: {{ routes.product_recommendations_url| json }}
		};
		window.translations = {
			loading: {{ "collections.pagination.loading" | t | json }},
			load_more: {{ "collections.pagination.load_more" | t | json }},
			add_to_cart: {{ "products.product.add_to_cart" | t | json }},
			sold_out: {{ "products.product.sold_out" | t | json }},
			sold_out_html: {{ "products.product.sold_out_html" | t | json }},
			on_sale_html: {{ "products.product.on_sale_html" | t | json }},
			unavailable: {{ "products.product.unavailable" | t | json }},
			zero_qty_error: {{ "cart.general.zero_qty_error" | t | json }},
			cart_title: {{ "cart.general.title" | t | json }},
			cart_empty: {{ "cart.general.empty" | t | json }},
			cart_price: {{ "cart.label.price" | t | json }},
			cart_quantity: {{ "cart.label.quantity" | t | json }},
			cart_total: {{ "cart.label.total" | t | json }},
			cart_acceptance_error: {{ "cart.general.accept_terms" | t | json }},
			continue_shopping: {{ "cart.general.continue_shopping" | t | json }},
			results_one: {{ "general.search.results.one" | t | json }},
			results_other: {{ "general.search.results.other" | t | json }},
			no_results: {{ "general.search.results.no_results" | t | json }},
			view_all: {{ "general.search.view_all" | t | json }},
			unit_price_separator: {{ "general.accessibility.unit_price_separator" | t | json }}
		};
		window.settings = {
			cartType: {{ settings.cart_type | json }},
			gridImageSize: {{ settings.image_size | json }},
			enableInfinityScroll: {{ settings.enable_infinity_scroll | json }},
			enablePaymentButton: {{ settings.enable_payment_button | json }},
			enableReviews: {{ settings.enable_reviews | json }},
			enableYotpo: {{ settings.enable_yotpo | json }},
			enableAcceptTerms: {{ settings.enable_accept_terms | json }},
			yotpoId: {{ settings.yotpo_ID | json }},
			productBadgeStyle: {{ settings.product_badge_style | json }},
			productGridLayout: {{ settings.product_grid_layout | json }},
			cartType: {{ settings.cart_type | json }},
			quickButton: {{ settings.quick_button | json }},
			mobileMenuBehaviour: {{ settings.mobile_menu_behaviour | json }},
		};
		window.lazySizesConfig = {
			loadHidden: false,
			hFac: 0.5,
			expFactor: 2,
			customMedia: {
				'--phone': '(max-width: 640px)',
				'--tablet': '(min-width: 641px) and (max-width: 1023px)',
				'--lap': '(min-width: 1024px)'
			}
		};
		window.PaloAlto = window.PaloAlto || {};
		window.slate = window.slate || {};
		window.moneyFormat = {{ shop.money_format | json }};
		window.isHeaderTransparent = false;
		window.initialHeaderHeight = 0;
		window.currentWindowWidth = window.innerWidth || document.documentElement.clientWidth;
	</script>
	<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

	<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

	{{ content_for_header }}
</head>

<body>
	{{ content_for_layout }}
</body>
</html>
